
<html>
    <head>
        <meta charset="utf8"/>
        <link rel="stylesheet" href="../static/style.css">
        <title>Search Box</title>
        <script src="https://kit.fontawesome.com/0e24df4cf4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <form action="/subreddits" method="POST">

            <div class='search-box'>
                <input class = "search-txt" type='text' name="search_term" placeholder='Search for a Reddit post about book recommendations!'>
                <button class="search-btn" type="button" onclick=submit()><i class="fa fa-search"></i></button>
            </div>

        </form>
        
    </body>
</html>